#BigF{
	font-family: Celestial Vintage type;
	color: #094DB3;
	font-size: 6em;
	font-weight: bold;
}
#BigO{
	font-family: Rise & shine;
	color: #fdfdfd;
	font-size: 5em; 
	font-weight: bold;
}
.logo{
	size: 100px;
}

#Fruit{
	font-size: 5em;
	color: #F4EBE1
}
#Orange{
	font-size: 5em;
	color: #FF9F33;
}
#Grape{
	font-size: 5em;
	color: #7B2ADE;
}
#Strawberry{
	font-size: 5em;
	color: #D2452C;
}
#Mango{
	font-size: 5em;
	color: #E1910F;
}
#Lemon{
	font-size: 5em;
	color: #DEE10F;
}